.chrono {
  &-breadcrumb {
    @extend .flexcenter;
    margin: 32px 0 16px 0;
    &_dot {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 1px solid white;
      cursor: pointer;
      position: relative;
      &--active {
        height: 25px;
        width: 25px;
        background: white;
      }
      &--popover {
        @extend .flexcenter;
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translate(-50%, 0);
        background: white;
        color: $main-color;
        padding: 8px;
        border-radius: 2px;
        z-index: 2;
      }
    }
    &_link {
      width: 10px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
  }

  &-period {
    &-title {
      @extend .flexcenter;
    }
  }

  &-events {
    display: flex;
    &_event {
      min-width: 50%;
      background: $primary-transparent;
      text-shadow: 0 0 3px $main-color;
    }
  }
}